/* Coolors Exported Palette - coolors.co/d4af37-1c7c54-33658a-86bbd8-000000 */

/* HSL */
$color1: hsla(46%, 65%, 52%, 1);
$color2: hsla(155%, 63%, 30%, 1);
$color3: hsla(206%, 46%, 37%, 1);
$color4: hsla(201%, 51%, 69%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */    //#HEX
$color1: rgba(212, 175, 55, 1); //#d4af37
$color2: rgba(28, 124, 84, 1); //#1c7c54
$color3: rgba(51, 101, 138, 1); //#33658a
$color4: rgba(134, 187, 216, 1); //#86bbd8
$color5: rgba(0, 0, 0, 0); //#000000

//ardash
