<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  <meta charset="utf-8">
  <title>My first view</title>
</head>
<body>
  <h1>Crypto Casino</h1>
  <h1>First View</h1>
</body>
</html>