
<div class="main-content">
    <div class="title">
        Crypto Casino
    </div>
    <div class="main">
        <div class="widget">
            <div class="title">Slot Machine</div>
            <div class="chart">
                <a href="/slotmachine"> <img src="/assets/images.png"> </a> 
            </div>
        </div>
        <div class="widget">
            <div class="title">Spin the wheel</div>
            <div class="chart">
                <img src="/assets/wheel-of-fortune.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Challenge</div>
            <div class="chart">
                <img src="/assets/man-plays-slot-machine-in-casino-vector-.jpg">
            </div>
        </div>
    </div>
</div>