<!DOCTYPE html>
<html lang="en">

<head>
<title>Login</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Form</title>
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body>
  <div class="login-form">
    <h1>Crypto Casino</h1>
      <form action="/login" method="post" id="form">
          <h2 class="text-center">Log in</h2>       
          <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="Username" required="required">
          </div>
          <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password" required="required">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </div>
          <div class="clearfix">
              <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
              <a href="#" class="pull-right">Forgot Password?</a>
          </div>        
      </form>
      <p class="text-center">¿No tienes cuenta? <a href="/signup">Crear cuenta</a></p>
  </div>
</body>
</html>
{{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}


{{!-- <body>
  <h1>welcome to our login</h1>
  <h1>First View</h1>
  <section>
      <form action="/login" method="post" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

 

  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>
      </section>
  </section>
</body>
</html>
 {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}} --}}