<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  <meta charset="utf-8">
  <title>login</title>
</head>
<body>
  <h1>welcome to our login</h1>
  <h1>First View</h1>
  <section>
      <form action="/login" method="post" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>
      </section>
  </section>
</body>
</html>