<div class="login-signup-form">
  <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple123/v4/25/3f/12/253f12c4-60fc-ea29-fa15-a176f25dedfc/AppIcon-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/246x0w.png" alt="BBVA"/>
  <a href="/recarga" class="pull-center"><img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fcryptocazino.herokuapp.com%2Frecarga&s=6&e=m" alt="Generador de Códigos QR Codes"/></a>
  <br>
  <div class="clearfix">
            <a href="/index" class="pull-center"><button class="btn btn-primary btn-block">Cerrar</button></a>
            
  </div>  
</div>