<!DOCTYPE html>
<html lang="en">

<head>
<title>Fondear</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Form</title>
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body>
  <div class="login-signup-form">
    <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fcryptocazino.herokuapp.com%2Frecarga&s=6&e=m" alt="Generador de Códigos QR Codes"/>
  </div>
</body>
</html>