
		<div class="main-content">
			<div class="title">
				Crypto Casino
			</div>
			<div class="main">
                <div class="login-signup-form">
                    <div class="logo">
                    <i class="fa fa-btc"></i>
                    <span>Crypto Casino</span>
                    </div>
                    <form action="/recarga" method="post" id="form">
                        <h2 class="text-center">Fondear Crypto Cuenta</h2>  
                        <div class="form-group">
                            <select id="account" name="cuenta">
                                <option value="">Cuenta de Cheques BBVA en pesos</option>
                            </select>
                        </div>     
                        <div class="form-group">
                            <select id="pesos" onchange="conversion()" name="monto">
                                <option value="0">Elige el monto a Fondear</option>
                                <option value="500">$500 MXP</option>
                                <option value="1000">$1,000 MXP</option>
                                <option value="2000">$1,500 MXP</option>
                                <option value="2000">$2,000 MXP</option>
                                <option value="2000">$2,500 MXP</option>
                                <option value="2000">$3,000 MXP</option>
                                <option value="2000">$3,500 MXP</option>
                                <option value="2000">$4,000 MXP</option>
                                <option value="4500">$4,500 MXP</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="label" name="balance" id="bitcoins"  required="required" readonly> BTC
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Fondear</button>
                        </div>
                        <div class="clearfix">
                            <a href="/index" class="pull-right">Cancelar operación</a>
                        </div>        
                    </form>
                </div>


			</div>
		</div>

    
  <script>
      let exchangeRate = 0.0000057; //@Liz Aqui va un API que obtenga el Tipo de Cambio del BTC
      function conversion() {
          const pesos = document.getElementById('pesos');
          const bitcoins = document.getElementById('bitcoins');
          bitcoins.value = pesos.value * exchangeRate;
      }
  </script>
