		<div class="main-content">
			<div class="title">
				Crypto Casino
			</div>
			<div class="main">
                <div class="login-signup-form">
                    <div class="logo">
                    <i class="fa fa-btc"></i>
                    <span>Crypto Casino</span>
                    </div>
                    <form action="/confirmation" method="post" id="form">
                        <h2 class="text-center">Transferencia de Crypto Saldo</h2>  
                        <div class="form-group">
                            <select id="account" name="cuenta">
                                <option value="">Crypto cuenta en bitcoins</option>
                            </select>
                        </div>     
                        <div class="form-group">
                            <input type="text" name="correo" id="correo"  required="required" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input type="text" name="monto" id="monto"  required="required" placeholder="Bitcoins">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Transferir</button>
                        </div>
                        <div class="clearfix">
                            <a href="/index" class="pull-right">Cancelar operación</a>
                        </div>        
                    </form>
                </div>
			</div>
		</div>
  <script>
      function guarda() {
          const bitcoins = document.getElementById('monto');
          const correo = document.getElementById('correo');
          console.log(correo)
      }
  </script>