<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/store.css">
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="js/casino.js"></script>
</head>

<body>
<section class="container content-section">
  <div class="shop-items">
    <div class="shop-item">
      <span class="shop-item-title">Air Pods</span>
      <img class="shop-item-image" src="assets/airpodsgold.png">
      <div class="shop-item-details">
        <span class="shop-item-price">$0.159</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
      <span class="shop-item-title">Amazon</span>
      <img class="shop-item-image" src="assets/amazonhead.png">
      <div class="shop-item-details">
        <span class="shop-item-price">$0.999</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
        <span class="shop-item-title">Plane</span>
        <img class="shop-item-image" src="assets/Avion-Presidencial.png">
        <div class="shop-item-details">
          <span class="shop-item-price">$0.599</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
  </div>
    
  <div class="shop-items">
    <div class="shop-item">
      <span class="shop-item-title">Gold Mac</span>
      <img class="shop-item-image" src="assets/mac.png">
      <div class="shop-item-details">
        <span class="shop-item-price">$0.299</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
      <span class="shop-item-title">Nike Shoes</span>
      <img class="shop-item-image" src="assets/nike.png">
      <div class="shop-item-details">
        <span class="shop-item-price">$0.25</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
        <span class="shop-item-title">Tesla</span>
        <img class="shop-item-image" src="assets/teslablack.png">
        <div class="shop-item-details">
          <span class="shop-item-price">$0.299</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
  </div>
  
</section>
<section class="container content-section">
  <h2 class="section-header">CART</h2>
  <div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
  </div>
  <div class="cart-items">

  </div>
  <div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">$0</span>
  </div>
  <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>

</body>