<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/store.css">
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="js/casino.js"></script>
</head>

<body>
<section class="container content-section">
  <h2 class="section-header">Crypto Casino</h2>
  <div class="shop-items">
    <div class="shop-item">
      <span class="shop-item-title">Avion Presidencial</span>
      <img class="shop-item-image" src="https://images-na.ssl-images-amazon.com/images/I/6176qR%2BbrAL._SY679_.jpg">
      <div class="shop-item-details">
        <span class="shop-item-price">$71.87</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-items">
    <div class="shop-item">
      <span class="shop-item-title">Tesla</span>
      <img class="shop-item-image" src="https://images-na.ssl-images-amazon.com/images/I/417SVJFCV4L.jpg">
      <div class="shop-item-details">
        <span class="shop-item-price">$299.99</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
      <span class="shop-item-title">Casino</span>
      <img class="shop-item-image" src="https://images-na.ssl-images-amazon.com/images/I/51t08DH-7FL.jpg">
      <div class="shop-item-details">
        <span class="shop-item-price">$25.18</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
  </div>
  <div class="shop-items">
    <div class="shop-item">
      <span class="shop-item-title">Iron Hack</span>
      <img class="shop-item-image" src="https://images-na.ssl-images-amazon.com/images/I/417SVJFCV4L.jpg">
      <div class="shop-item-details">
        <span class="shop-item-price">$299.99</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
      <span class="shop-item-title">Iron hack Teacher</span>
      <img class="shop-item-image" src="https://images-na.ssl-images-amazon.com/images/I/51t08DH-7FL.jpg">
      <div class="shop-item-details">
        <span class="shop-item-price">$25.18</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
        <span class="shop-item-title">certificado Ironhack</span>
        <img class="shop-item-image" src="https://images-na.ssl-images-amazon.com/images/I/51t08DH-7FL.jpg">
        <div class="shop-item-details">
          <span class="shop-item-price">$25.18</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
  </div>
  
</section>
<section class="container content-section">
  <h2 class="section-header">CART</h2>
  <div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
  </div>
  <div class="cart-items">

  </div>
  <div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">$0</span>
  </div>
  <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>

</body>