		<div class="main-content">
			<div class="title">
				Crypto Tienda 
			</div>
			<div class="main">
				<div class="widget">
					<div class="title">Tenis</div>
					<div class="chart">
						<img src="https://www.laguiadelvaron.com/wp-content/uploads/2016/07/yee.jpg">
					</div>
                    <button>Comprar</button>
				</div>
				<div class="widget">
					<div class="title">Tesla</div>
					<div class="chart">
						<img src="https://images.mediotiempo.com/rXHjupmbH2mqDRmD6XVPUtwAyYI=/958x596/uploads/media/2020/01/21/boceto-tesla-model-version-hatchback.jpg">
					</div>
                    <button>Comprar</button>
				</div>
				<div class="widget">
					<div class="title">Amazon</div>
					<div class="chart">
						<img src="https://images.livemint.com/img/2019/07/12/600x338/1148439107_1560085714465_1562911626353.jpg">
					</div>
                    <button>Comprar</button>
				</div>
                <div class="widget">
					<div class="title">Avion Presidencial</div>
					<div class="chart">
						<img src="https://www.altonivel.com.mx/wp-content/uploads/2018/08/avion-presidencial.jpg">
					</div>
                        <button>Comprar</button>
				</div>
                <div class="widget">
					<div class="title">papel de baño de oro</div>
					<div class="chart">
						<img src="https://cde.peru.com//ima/0/1/0/3/1/1031161/924x530/diez.jpg">
					</div>
                        <button>Comprar</button>
				</div>
                <div class="widget">
					<div class="title">earpods de oro</div>
					<div class="chart">
						<img src="https://caviar.global/images/companies/1/news/caviar_airpods_pro_gold__photo4.jpg?1573632829293">
					</div>
                        <button>Comprar</button>
				</div>
			</div>
		</div>