@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: whitesmoke;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.content-section {
    margin: 1em;
    
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    
}
.section-header {
    font-family: 'Anton', cursive;
    font-weight: normal;
    color:whitesmoke;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: whitesmoke;
    margin-bottom: 15px;
    margin-top:50px;
   
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: whitesmoke;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: -55px;
    
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: whitesmoke;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: whitesmoke;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: whitesmoke;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: whitesmoke;
    margin-right: 20px;
}

.cart-total-price {
    color: whitesmoke;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}